.arena {
    margin: 20px 0px;
    padding: 10px;
    background-color:#86a852;
    height: 350px;
}
.actions {
    text-align: center;
    margin-top: 10px;
}
button {
    margin: 20px;
    padding: 8px 15px;
    border-radius: 7px;
    background: black;
    color: white;
    cursor: pointer;
    width: 140px;
}

.winner {
    text-align: center;
    background: white;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: green;
    font-weight: 500;
}